.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* directly taken from Zeplin and Sketch feel free to fix the CSS definitions
 * without changing the style.
 */

#paraStyleG {
  z-index: 2;
  width: 800px;
  height: 1819px;
  background: #FFFFFF}

#paraStyleG {
  z-index: 3;
  width: 215.95px;
  height: 40px;
  color: #4663c3;
  font-family: "CircularStd-Bold";
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

#color {
  z-index: 3;
  width: 47.62px;
  height: 27px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

#line {
  z-index: 3;
  width: 680px;
  height: 2px;
  border: solid 1px #e7e7e7
}

#typography {
  z-index: 3;
  width: 105.29px;
  height: 27px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

#line {
  z-index: 3;
  width: 680px;
  height: 2px;
  border: solid 1px #e7e7e7
}

#headers {
  z-index: 3;
  width: 72.51px;
  height: 27px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

#line {
  z-index: 3;
  width: 680px;
  height: 2px;
  border: solid 1px #e7e7e7
}

#buttons {
  z-index: 3;
  width: 67.86px;
  height: 27px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

#minwidth:1 {
  z-index: 3;
  width: 113.9px;
  height: 20px;
  color: #a9b3be;
  font-family: "CircularStd-Book";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

#shadow:401 {
  z-index: 3;
  width: 150.36px;
  height: 20px;
  color: #a9b3be;
  font-family: "CircularStd-Book";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

#line {
  z-index: 3;
  width: 680px;
  height: 2px;
  border: solid 1px #e7e7e7
}

#forms {
  z-index: 3;
  width: 54.15px;
  height: 27px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

#line {
  z-index: 3;
  width: 680px;
  height: 2px;
  border: solid 1px #e7e7e7
}

#checkboxes {
  z-index: 3;
  width: 247.8px;
  height: 27px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
}

#line {
  z-index: 3;
  width: 680px;
  height: 2px;
  border: solid 1px #e7e7e7
}

#primary {
  z-index: 3;
  width: 53.62px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Medium";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#circularSt {
  z-index: 3;
  width: 227.53px;
  height: 40px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

#circularSt {
  z-index: 3;
  width: 270.64px;
  height: 40px;
  color: #3d464d;
  font-family: "CircularStd-Medium";
  font-size: 30px;
  font-weight: 400;
  line-height: 40px;
}

#h1-Circula {
  z-index: 3;
  width: 326.44px;
  height: 33px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 25px;
  font-weight: 400;
  line-height: 33px;
}

#h2-Circula {
  z-index: 3;
  width: 217.32px;
  height: 23px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

#body-Circu {
  z-index: 3;
  width: 210.61px;
  height: 20px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
}

#b0 {
  z-index: 3;
  width: 61.75px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#a {
  z-index: 3;
  width: 61.2px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#rectangle {
  z-index: 3;
  width: 70px;
  height: 70px;
  background: #1963b0;
}

#rectangleC {
  z-index: 3;
  width: 70px;
  height: 70px;
  background: #282828;
}

#a9B3BE {
  z-index: 3;
  width: 63.46px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#rectangleC {
  z-index: 3;
  width: 70px;
  height: 70px;
  background: #a9b3be;
}

#secondary {
  z-index: 3;
  width: 73.55px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Medium";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#cED4DB {
  z-index: 3;
  width: 67.69px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#e8ECF1 {
  z-index: 3;
  width: 60.61px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#rectangle {
  z-index: 3;
  width: 70px;
  height: 70px;
  background: #ced4db;
}

#rectangleC {
  z-index: 3;
  width: 70px;
  height: 70px;
  background: #e8ecf1;
}

#c122 {
  z-index: 3;
  width: 62.48px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#e33A4F {
  z-index: 3;
  width: 61.55px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#rectangle {
  z-index: 3;
  width: 70px;
  height: 70px;
  background: #17c122;
}

#rectangleC {
  z-index: 3;
  width: 70px;
  height: 70px;
  background: #e33a4f;
}

#fFB843 {
  z-index: 3;
  width: 60.12px;
  height: 21px;
  color: #3d464d;
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#rectangleC {
  z-index: 3;
  width: 70px;
  height: 70px;
  background: #ffb843;
}

#label {
  z-index: 3;
  width: 32.66px;
  height: 19px;
  color: #a9b3be;
  font-family: "CircularStd-Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

#emptyField {
  z-index: 3;
  width: 87.32px;
  height: 23px;
  color: #ced4db;
  font-family: "CircularStd-Book";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

#lineCopy2 {
  z-index: 3;
  width: 345px;
  height: 1px;
  border: solid 1px #e8ecf1
}

#errorMessa {
  z-index: 3;
  width: 100.78px;
  height: 21px;
  color: #e33a4f;
  font-family: "CircularStd-Book";
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
}

#group {
  z-index: 3;
  width: 100px;
  height: 45px;
}

#rectangle {
  z-index: 4;
  width: 100px;
  height: 45px;
  border-radius: 22px;
  background: #1963b0;
  box-shadow: 0px 1px7px1px rgba(25,99,176,0.41);
}

#done {
  z-index: 4;
  width: 35.64px;
  height: 20px;
  color: #ffffff;
  font-family: "CircularStd-Book";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

#group {
  z-index: 3;
  width: 100px;
  height: 45px;
}

#rectangle {
  z-index: 4;
  width: 100px;
  height: 45px;
  border-radius: 22px;
  background: #1963b0;
  box-shadow: 0px 1px7px1px rgba(25,99,176,0.41);
}

#arrow {
  z-index: 4;
  width: 13px;
  height: 12px;
}

#rectangle {
  z-index: 5;
  width: 7.91px;
  height: 7.91px;
  border: solid 1px #ffffff;
  transform: rotate(45.00001deg) scaleX(-1);
}

#line {
  z-index: 5;
  width: 12px;
  height: 2px;
  border: solid 1px #ffffff
}

#next {
  z-index: 4;
  width: 31.03px;
  height: 20px;
  color: #ffffff;
  font-family: "CircularStd-Book";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

#group3 {
  z-index: 3;
  width: 116px;
  height: 45px;
}

#rectangle {
  z-index: 4;
  width: 116px;
  height: 45px;
  border-radius: 22px;
  background: #1963b0;
  box-shadow: 0px 1px7px1px rgba(25,99,176,0.4);
}

#applyNow {
  z-index: 4;
  width: 73.16px;
  height: 20px;
  color: #ffffff;
  font-family: "CircularStd-Book";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

#rIGHT4436D {
  z-index: 3;
  width: 35px;
  height: 31px;
}

#ruler-star {
  z-index: 4;
  width: 1px;
  height: 5px;
  background: #50e3c2;
}

#ruler-end {
  z-index: 4;
  width: 1px;
  height: 5px;
  background: #50e3c2;
}

#ruler-line {
  z-index: 4;
  width: 20px;
  height: 1px;
  background: #50e3c2;
}

#label-arro {
  z-index: 4;
  width: 8px;
  height: 8px;
  background: #50e3c2;
}

#label-box {
  z-index: 4;
  width: 35px;
  height: 22px;
  background: #50e3c2;
}

#label-text {
  z-index: 4;
  width: 25.5px;
  height: 16px;
  color: #ffffff;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

#rIGHT4436D {
  z-index: 3;
  width: 35px;
  height: 31px;
}

#ruler-star {
  z-index: 4;
  width: 1px;
  height: 5px;
  background: #50e3c2;
}

#ruler-end {
  z-index: 4;
  width: 1px;
  height: 5px;
  background: #50e3c2;
}

#ruler-line {
  z-index: 4;
  width: 20px;
  height: 1px;
  background: #50e3c2;
}

#label-arro {
  z-index: 4;
  width: 8px;
  height: 8px;
  background: #50e3c2;
}

#label-box {
  z-index: 4;
  width: 35px;
  height: 22px;
  background: #50e3c2;
}

#label-text {
  z-index: 4;
  width: 25.5px;
  height: 16px;
  color: #ffffff;
  font-family: HelveticaNeue;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
}

#label {
  z-index: 3;
  width: 32.66px;
  height: 19px;
  color: #a9b3be;
  font-family: "CircularStd-Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

#filled {
  z-index: 3;
  width: 39.55px;
  height: 23px;
  color: #4a4a4a;
  font-family: "CircularStd-Book";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

#lineCopy2 {
  z-index: 3;
  width: 345px;
  height: 1px;
  border: solid 1px #e8ecf1
}

#label {
  z-index: 3;
  width: 32.66px;
  height: 19px;
  color: #a9b3be;
  font-family: "CircularStd-Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

#filled {
  z-index: 3;
  width: 39.55px;
  height: 23px;
  color: #4a4a4a;
  font-family: "CircularStd-Book";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

#inactive {
  z-index: 3;
  width: 57.56px;
  height: 23px;
  color: #4a4a4a;
  font-family: "CircularStd-Book";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

#selected {
  z-index: 3;
  width: 63.44px;
  height: 23px;
  color: #4a4a4a;
  font-family: "CircularStd-Book";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

#selectedCo {
  z-index: 3;
  width: 63.44px;
  height: 23px;
  color: #4a4a4a;
  font-family: "CircularStd-Book";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

#lineCopy2 {
  z-index: 3;
  width: 345px;
  height: 1px;
  border: solid 1px #e33a4f
}

#label {
  z-index: 3;
  width: 32.66px;
  height: 19px;
  color: #1963b0;
  font-family: "CircularStd-Book";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

#typing {
  z-index: 3;
  width: 54.94px;
  height: 23px;
  color: #4a4a4a;
  font-family: "CircularStd-Book";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

#lineCopy2 {
  z-index: 3;
  width: 345px;
  height: 1px;
  border: solid 1px #1963b0
}

#rectangle2 {
  z-index: 3;
  width: 20px;
  height: 20px;
  border: solid 1px #a9b3be
}

#inactive {
  z-index: 3;
  width: 57.56px;
  height: 23px;
  color: #4a4a4a;
  font-family: "CircularStd-Book";
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

#rectangle2 {
  z-index: 3;
  width: 20px;
  height: 20px;
  border: solid 1px #a9b3be
}

#rectangle2 {
  z-index: 3;
  width: 20px;
  height: 20px;
  background: #1963b0;
}

#check {
  z-index: 3;
  width: 7.82px;
  height: 3.63px;
  border: solid 1px #ffffff;
  transform: rotate(-45deg);
}

#group2 {
  z-index: 3;
  width: 20px;
  height: 20px;
}

#rectangle2 {
  z-index: 4;
  width: 20px;
  height: 20px;
  border: solid #1963b0
}

#rectangle2 {
  z-index: 4;
  width: 8px;
  height: 8px;
  background: #1963b0;
}
